<!DOCTYPE html>
<html>

<head>
	<title>Vuetify + Axios Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
	<link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
</head>

<body>
	<div id="app">
		<v-app id="inspire">
			<v-container style="max-width: 600px">
				<v-row>
					<v-col>
						<v-btn color="info" @click="getAll">Get All</v-btn>
					</v-col>
				</v-row>
				<v-row>
					<v-col>
						<v-btn color="info" @click="getById">Get</v-btn>

					</v-col>
					<v-col>
						<v-text-field v-model.number="getId" label="Id" solo type="number"></v-text-field>
					</v-col>
				</v-row>

				<v-row>
					<v-col>
						<v-btn color="info" @click="updateById">Update</v-btn>
					</v-col>

					<v-col>
						<v-text-field v-model.number="updateId" label="Id" solo type="number"></v-text-field>
					</v-col>

					<v-col>
						<v-text-field v-model="updateText" label="Text" solo></v-text-field>
					</v-col>
				</v-row>

				<v-divider class="mb-3"></v-divider>

				<v-text-field v-model="newItem" label="Add new item" solo @keydown.enter="create">
					<v-fade-transition slot="append">
						<v-icon v-if="newItem" @click="create">add_circle</v-icon>
					</v-fade-transition>
				</v-text-field>


				<v-card>
					<v-toolbar color="cyan" dark>
						<v-toolbar-title>Total: {{ myItems.length }}</v-toolbar-title>
					</v-toolbar>

					
						<template v-for="(myItem, i) in myItems">
							<v-divider v-if="i !== 0" :key="`${i}-divider`"></v-divider>

							<v-list>
								<v-list-item :key="`${i}-${myItem.text}`" @click="">
									<v-list-item-icon>
										<v-list-item-title v-text="myItem.id"></v-list-item-title>
									</v-list-item-icon>

									<v-list-item-content>
										<v-list-item-title v-text="myItem.text"></v-list-item-title>
									</v-list-item-content>

									<v-list-item-avatar>
										<v-btn color="error" v-model="myItem" @click="remove(myItem)">Delete</v-btn>
									</v-list-item-avatar>
								</v-list-item>
							</v-list>
						</template>
			

					<v-snackbar v-model="snackbar" :bottom="true" :timeout="timeout">
						{{ text }}
						<v-btn color="pink" text @click="snackbar = false">
							Close
						</v-btn>
					</v-snackbar>
				</v-card>
			</v-container>
		</v-app>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<script type="text/javascript" src="./js/API.js"></script>
	<script type="text/javascript" src="./js/app.js"></script>

</body>

</html>